@model WebApplication2.Controllers.MainController
@{
    ViewBag.Title = "ContactUs";
}

@{
    Html.RenderPartial("~/Views/Main/main.cshtml");
}

<h2>ContactUs</h2>

HOTEL LUXURY
<br />
<br />
<br />
    Welcome to our hotel.
<br />
    We are located in Pune.
<br />

    Phone NO- 123-456-7890. <br />
    hotelluxury@mysite.com.