@model WebApplication2.Controllers.MainController
@{
    ViewBag.Title = "ContactUs";
}

@{
    Html.RenderPartial("~/Views/Main/main.cshtml");
}
<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: slategrey;
    }
    h2 {
        color: blue;
    }

    p {
        color: white;
    }
</style>
<h2><strong>ContactUs</strong></h2>

<p>JW Marriott Hotel Pune

<br />
<br />
<br />
    Welcome to our hotel.
<br />
    We are located in Pune.
<br />
    hotelluxury@mysite.com.
</p>

   <h2>Phone NO- 123-456-7890. </h2> <br />
    