@model Hotel_Reservation_SystemProject.Controllers.MainController
@{
    ViewBag.Title = "Location";
}

@{
    Html.RenderPartial("~/Views/Main/main.cshtml");
}
<style>
    h2 {
        color: blue;
    }
</style>
<h2>Location</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.9221402116464!2d73.8275841143689!3d18.53242027364982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf8a959a0e4b%3A0x9634475031078c60!2sJW%20Marriott%20Hotel%20Pune!5e0!3m2!1sen!2sin!4v1585309188030!5m2!1sen!2sin" frameborder="0" style="border-style: none; border-color: inherit; border-width: 0; height: 497px; width: 1082px;"></iframe>
