
@{
    ViewBag.Title = "Payment";
}

<style>

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
</style>
<form>
    <button class="btnRegister"  type="submit" formaction="https://rzp.io/l/8viN3Lj">Pay</button>
</form>