
@{
    ViewBag.Title = "LogOut";
}




<body>

    <h2>JavaScript Alert</h2>

    <button onclick="alert"Sign Out Successfully!!!";">Try it</button>

    <script>
function myFunction() {
  alert("Sign Out Successfully!!!");
}
    </script>

</body>
